@import "tailwindcss";

@font-face {
  font-family: "MiFuente";
  src: url("/fonts/Magnolia Script.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.text__invitation {
  @apply mx-auto text-center w-[90%];
}

@theme {
  --color-primary: #6298e2;
  --color-secondary: #635740;
}

.flip-clock {
  --fcc-flip-duration: 0.7s;
  --fcc-spacing: 3px;
  --fcc-digit-block-width: 20px;
  --fcc-digit-block-height: 35px;
  --fcc-digit-block-radius: 3px;
  --fcc-digit-block-spacing: 0px;
  --fcc-digit-font-size: 23px;
  --fcc-digit-color: white;
  --fcc-label-font-size: 10px;
  --fcc-label-color: #635740;
  --fcc-background: #6298e2;
  --fcc-divider-color: white;
  --fcc-divider-height: 0px;
  --fcc-separator-size: 0px;
  --fcc-separator-color: red;
}

@keyframes slowOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slowUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slowLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slowRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slowDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bg-animated {
  animation: slowOpacity 1.5s ease-in-out;
}

.text-up {
  animation: slowUp 1.5s ease-in-out;
}

.slow-down {
  animation: slowDown 1.5s ease-in-out;
}

.slow-left {
  animation: slowLeft 1.5s ease;
}

.slow-right {
  animation: slowRight 1.5s ease;
}

@keyframes move {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(50px) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.otro {
  animation: move 4s infinite ease-in-out;
}
